/* .products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
} */
.product-card {
  /* background-color: red; */
  padding: 1rem;
  width: 65%;
  margin-bottom: 1rem;
  position: relative;
}
.rating-logo {
  width: 1.25rem;
}
.rating-container {
  /* display: flex; */
  font-weight: 600;
  gap: 0.25rem;
}
.product-image {
  object-fit: cover;
  flex-shrink: 1;
  width: 100%;
  height: 251px;
  margin-bottom: 10px;
}
.delete-btn {
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 20px;
  background-color: #e91010ec;
  border: none;
  transition: all 0.2s ease-in;
  font-weight: 600;
  position: absolute;
  top: 0rem;
  right: 0;
}
.cartCount {
  display: inline;
}
.price-container {
  /* background-color: red; */
  width: 70%;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* gap: 0; */
  /* padding: 0; */
}
.decrease-btn,
.increase-btn {
  cursor: pointer;
}
