.sign-up-container {
  background-color: #a3b18a;
  width: 30%;
  margin: 8rem auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
input {
  padding: 0.25rem;
  border-radius: 2px;
  border: none;
}

.form-text {
  font-weight: 600;
}

span {
  padding: 1rem;
}
.btn {
  background-color: #405fe7;
  padding: 0.25rem;
  border-radius: 5px;
  border: none;
  margin: 0;
}
label {
  margin-right: 1rem;
}
.google-btn {
  margin: 1rem 8rem;
}
.title {
  font-weight: 600;
}
