.background-img {
  object-fit: cover;
  flex-shrink: 1;
  width: 100%;
}
.img-container {
  position: relative;
}
.shop-btn {
  position: absolute;
  top: 5.5rem;
  right: 23rem;
  padding: 0.8rem 1rem;
  opacity: 0.7;
  border-radius: 10px;
  border: none;
  background-color: #8df5d9;
  /* color: #ffff; */
}
.link {
  text-decoration: none;
  /* color: #fcfcfc; */
}
