.background-img {
  object-fit: cover;
  width: 100%;
}
.img-container {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.home-container {
  max-width: 100%;
}
.shop-btn {
  position: absolute;
  top: 23rem;
  left: 10rem;
  padding: 0.8rem 1rem;
  opacity: 0.7;
  border-radius: 10px;
  border: none;
  background-color: #e75106;
  color: #ffff;
}
.link {
  text-decoration: none;
  /* color: #fcfcfc; */
}
